/*
Notes on normalize / reset styles:

Tailwind uses https://github.com/sindresorhus/modern-normalize, which is a modification
of https://github.com/necolas/normalize.css/. Most notably it switches to border box
sizing globally.

The extra 'preflight' rules by tailwind may also be worth considering:
https://tailwindcss.com/docs/preflight

*/

:root {
	--vbox-container-separation: 4px;
	--hbox-container-separation: 4px;

	--margin-container-top: 4px;
	--margin-container-bottom: 4px;
	--margin-container-left: 4px;
	--margin-container-right: 4px;
}

/*
As an alternative to having to "cascade 100% height" down the DOM,
it may be better to use flex to achieve "full height"?
https://stackoverflow.com/a/17067826/1804173
*/

html {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	flex: 1;
	display: flex;
	flex-direction: column;

	/* To avoid flex logic increasing the size of the body */
	min-height: 0;
}

/* Utility classes */

.overflow-x-auto { overflow-x: auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-x-clip { overflow-x: clip; }
.overflow-y-clip { overflow-y: clip; }
.overflow-x-visible { overflow-x: visible; }
.overflow-y-visible { overflow-y: visible; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-y-scroll { overflow-y: scroll; }

.flex-1 { flex: 1 1 0%; }
.flex-auto { flex: 1 1 auto; }
.flex-initial { flex: 0 1 auto; }
.flex-none { flex: none; }
